@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  .fa-bars {
    position: absolute;
    left: 500px;
  }
  .header-nav {
    margin-left: -300px;
  }
  .header-wrappar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header-wrappar .header-wrap1 .header-title {
    width: 600px;
    font-size: 26px;
    margin-top: -550px;
    padding-left: 30px;
  }
  .header-wrappar .header-wrap1 .header-btnbox {
    margin-left: 100px;
  }
  .header-wrappar .header-wrap1 .header-btnbox .headerbtn {
    padding: 15px 55px;
  }
  .header-wrappar .header-wrap1 .header-text {
    font-size: 14px;
    text-align: center;
    margin-left: 50px;
  }
  .header-wrappar .header-wrap3 .header-pic {
    width: 500;
    height: 300px;
    margin-left: 70px;
  }
  .section-title {
    font-size: 30px;
    margin-top: 0px;
    margin-left: -50px;
  }
  .section-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-column .section-col {
    width: 210px;
    height: 540px;
    background: #F5F5F5;
    margin: 10px;
  }
  .section-col1 {
    width: 210px;
    height: 540px;
    background-color: #F5F5F5;
    margin: 10px;
  }
  .section-col1 .section-image {
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .section-btn {
    padding: 8px 15px;
    font-size: 12px;
  }
  .section-image1 {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .section-list {
    font-size: 18px;
  }
  .section-taxt {
    font-size: 14px;
    width: 130px;
  }
  .section-row {
    position: absolute;
    top: 1990px;
  }
  .section-col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 210px;
    height: 540px;
    margin-left: 240px;
    margin-top: -550px;
  }
  .section-col2 .text2 {
    width: 150px;
  }
  .section-col2 .section-image {
    position: absolute;
    top: 1830px;
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .main-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-holder .main-list {
    margin-left: 80px;
  }
  .main-holder .main-logo {
    position: absolute;
    top: 2500px;
    left: 200px;
  }
  .main-holder .main-text {
    text-align: center;
    margin-left: 50px;
  }
  .main-holder .main-nomber {
    margin-left: 80px;
  }
  .main-nomber {
    font-size: 26px;
  }
  .main__wrapper-box {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;
  }
  .main__wrap2 {
    margin-top: 80px;
  }
  .main__wrap3 {
    margin-top: 80px;
  }
  .main-picture {
    width: 250px;
    height: 250px;
  }
  .main-list {
    margin-left: 40px;
  }
  .main-taxt {
    text-align: center;
    width: 300px;
    font-size: 16px;
    margin-left: -20px;
  }
  .main-btn {
    margin-left: 40px;
  }
  .main-btn1 {
    margin-left: 40px;
  }
  .btn {
    font-size: 18px;
  }
  .btn1 {
    font-size: 13px;
  }
  .footer-box {
    display: block;
  }
  .footer-box .footer-img {
    margin-left: 100px;
  }
  .footer-box .footer-text {
    text-align: center;
  }
  .footer-logo {
    position: absolute;
    top: 5400px;
    left: 200px;
  }
  .footer__pic-box .footer-picture {
    margin-left: 45px;
  }
  .footer__pic-box .footer-textp {
    margin-left: -430px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=media575.css.map */