@media (max-width: 320px) {
  .container {
    width: 100%;
  }
  .fa-bars {
    position: absolute;
    left: 250px;
    font-size: 16px;
  }
  .header-img {
    width: 50px;
  }
  .header-nav {
    margin-left: -520px;
  }
  .header-wrappar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header-wrappar .header-wrap1 .header-title {
    width: 250px;
    font-size: 16px;
    margin-top: -550px;
    margin-left: -60px;
    text-align: center;
  }
  .header-wrappar .header-wrap1 .header-btnbox {
    margin-left: -20px;
  }
  .header-wrappar .header-wrap1 .header-btnbox .headerbtn {
    padding: 10px 50px;
  }
  .header-wrappar .header-wrap1 .header-text {
    font-size: 10px;
    text-align: center;
    margin-left: -20px;
    width: 200px;
  }
  .header-wrappar .header-wrap3 .header-pic {
    width: 200;
    height: 250px;
    margin-left: -50px;
  }
  .section-title {
    font-size: 24px;
    margin-top: 0px;
    margin-left: -50px;
  }
  .section-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-column .section-col {
    width: 210px;
    height: 540px;
    background: #F5F5F5;
    margin: 10px;
  }
  .section-col1 {
    width: 210px;
    height: 540px;
    background-color: #F5F5F5;
    margin: 10px;
  }
  .section-col1 .section-image {
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .section-btn {
    padding: 8px 15px;
    font-size: 10px;
  }
  .section-image1 {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .section-list {
    font-size: 16px;
  }
  .section-taxt {
    font-size: 12px;
    width: 130px;
  }
  .section-row {
    position: absolute;
    top: 3150px;
  }
  .section-col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 210px;
    height: 540px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .section-col2 .text2 {
    width: 150px;
  }
  .section-col2 .section-image {
    position: absolute;
    top: 2950px;
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
  .main-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-holder .main-img {
    width: 200px;
    height: 200px;
  }
  .main-holder .main-list {
    margin-left: -50px;
  }
  .main-holder .main-logo {
    position: absolute;
    top: 3550px;
    left: 100px;
  }
  .main-holder .main-text {
    margin-left: -70px;
    width: 80px;
  }
  .main-holder .main-nomber {
    margin-left: -50px;
  }
  .main-nomber {
    font-size: 18px;
  }
  .main__img-box {
    margin-left: -50px;
  }
  .main__wrapper-box {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -50px;
  }
  .main__wrap2 {
    margin-left: 30px;
    margin-top: 80px;
  }
  .main__wrap3 {
    margin-left: 30px;
    margin-top: 80px;
  }
  .main-picture {
    width: 250px;
    height: 250px;
  }
  .main-list {
    margin-left: 40px;
  }
  .main-taxt {
    text-align: center;
    width: 200px;
    font-size: 14px;
    margin-left: 50px;
  }
  .main-btn {
    margin-left: 40px;
  }
  .main-btn1 {
    margin-left: 40px;
  }
  .btn {
    font-size: 18px;
  }
  .btn1 {
    font-size: 10px;
  }
  .footer-box {
    display: block;
  }
  .footer-box .footer-img {
    margin-left: -40px;
  }
  .footer-box .footer-text {
    width: 200px;
    text-align: center;
    margin-left: -140px;
  }
  .name {
    margin-left: -90px;
  }
  .footer-logo {
    position: absolute;
    top: 6350px;
    left: 80px;
  }
  .subsciber {
    margin-left: -50px;
    margin-top: 20px;
  }
  .footer__pic-box {
    display: block;
  }
  .footer__pic-box .footer-picture {
    margin-left: 140px;
  }
  .footer__pic-box .footer-textp {
    margin-left: -500px;
    font-size: 8px;
  }
}
/*# sourceMappingURL=media320.css.map */